
#p1:hover{
    color: red;
    font-size: 16px;
    text-decoration: line-through 5px;
}


#p2:active{
    color: blue;
    font-size:  large;
    text-decoration: underline wavy red;

}


a{
    color: blue;
}

a:visited{
    color: brown;
}