@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteiner{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
   
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    width: 400px;
    height: 630px;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
    gap: 20px;
    padding-top: 15px;
}

#main2{
    width: 90%;
    
    
}

img{
    
    border-radius: 10px;
    width: 79%;
   
    
}

h2{
    color: white;
}

#inner{
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: left;
    color:rgb(115, 115, 115);
  


}

#logos{
    display: flex;

    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#logo2 img{
    width: 20px;
    
}



#logo2{

    display: flex;
    align-items: center;

}

#logo3{
    display: flex;

    align-items: center;
}

#logo2 p{
    font-size: 18px;
    color: hsl(178, 100%, 50%);
}





#logo3 img{
    width: 20px;
}
#logos3 p{
    font-size: 18px;
}