*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
--Yellow: hsl(47, 88%, 63%);
--White: hsl(0, 0%, 100%);
--Gray: hsl(0, 0%, 42%);

}

body{
    font-family: sans-serif;
    background-color: var(--Yellow);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer{
    width: 380px;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--White);
    box-shadow: 8px 8px 0px black;
    
    
}

.img img{
    width: 100%;
   border-radius: 10px;

}



#p1{
    background-color: var(--Yellow);
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    margin: 15px 0;
}

#h2{
    color:black;
    margin: 15px 0;
}

.p2{
    color:var(--Gray);
    margin-bottom: 15px;
}


.img2{
    display: flex;
    align-items:center;
    gap: 10px;
    margin-top: 20px;


}
