body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #5a7bdc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    
}

#state {
    font-size: 13px;
    margin-bottom: 20px;
}

#top {
    background: none;
    border: none;
    color: #5a7bdc;
    cursor: pointer;
    padding: 0;
}

#signup {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #a1aee1;
    color: white;
    font-size: 15px;
}

#acc {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

#login {
    color: #5a7bdc;
    border: none;
}

#signup:hover {
    background-color: blue;
    transition: 0.5s;
}