*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(29, 0, 29, 0.884);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div{
    width: 400px;
    height: 300px;
   border: 5px solid red;

}

div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

div input{
    border: 3px solid  rgba(224, 107, 94);
    border-radius: 5px;
    background-color: transparent;
    width: 80%;
    height: 35px;
    
  
}

div button{
    width: 80%;
    color: white;
    border: none;
    border-radius: 5px;
    height: 28px;
    background-color: rgba(224, 107, 94);
    font-weight: bold;
}

textarea{
    width: 80%;
    height: 100px;
    background-color: transparent;
    border:3px solid  rgba(224, 107, 94);
}
