body {
background-color: #f2f2f2;
font-family: Arial, sans-serif;
}


#header {
background-color: #1e90ff;
color: white;
text-align: center;

}



.nav {
background-color: #333;
text-align: center;

}


.nav a {
color: white;
text-decoration: none;
font-size: 18px;
}



.section {
background-color: white;
border-radius: 10px;
}
.section h2 {
color: #1e90ff;
text-align: center;
}


.section p {
font-size: 16px;
text-align: justify;
}



ul {
font-size: 16px;
}



.img-box {
text-align: center;
}


img {
width: 250px;
border-radius: 15px;
}


.btn {
background-color: #1e90ff;
color: white;
border: none;
border-radius: 8px;
font-size: 16px;
}


#footer {
background-color: #333;
color: white;
text-align: center;
padding: 15px;
}