@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    
    --White: hsl(0, 0%, 100%);

     --Slate1: hsl(212, 45%, 89%);
    --Slat2: hsl(216, 15%, 48%);
     --Slate: hsl(218, 44%, 22%);


}

#conteiner{
    background-color: var(--Slate1);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "Outfit", sans-serif;

}

#main{
    border-radius: 10px;
    background-color: var(--White);
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    
}

img{
    width: 85%;
    border-radius: 10px;
  
    
}

#title{
    display: flex;
   flex-direction: column;
   gap: 15px;
   width: 80%;
   
}

#p1{
    font-weight: bolder;
    text-align: center;
    font-size: large;
    
    
   
}

#p2{
    font-size: 15px;
    text-align: center;
    color: var(--Slat2);
}
