@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    background-color: #020617;
    font-family: 'Poppins', sans-serif;
    color: #e5e7eb;
    text-align: center;
}

h1 {
    color: #38bdf8;
    font-size: 36px;
}

h2 {
    color: #7dd3fc;
}

p {
    font-size: 17px;
}

img {
    width: 300px;
    border-radius: 15px;
    height: 250px;
}