*{
    margin: 0;
    padding: 0;
   
}


body{
     background-color: rgb(59, 56, 56);
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh
}

div{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    gap: 15px;
  




}


h1{
    text-align: center;

}


div form{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: white;
   
  

}


div input{

    color: white;
    width: 85%;
    height: 25px;
    background-color: transparent;

}

div button{
    background-color: rgba(165, 218, 7, 0.429);
    width: 85%;
    height: 30px;
    border: none;
    border-radius: 5px;

    
}

