@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  
}
:root{
    --Blue1: hsl(225, 100%, 94%);
    --Blu3e: hsl(245, 75%, 52%);
    --Blue: hsl(225, 100%, 98%);
    --Gray: hsl(224, 23%, 55%);
    --Blue2: hsl(223, 47%, 23%);

}

#container{
    height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Blue1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    
    


}

#main{
    border-radius: 10px;
    background-color: var(--Blue);
    width: 400px;
    height: 600px;
    font-family: "Red Hat Display", sans-serif;
   
}

img{
    width: 100%;
   border-radius: 10px;
}

#img img{
    border-radius: 10px 10px 0 0;
}


#inner{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding-top: 18px;
    

}



p{
    text-align: center;
    color: rgb(112, 112, 112);
}

#p2{
    font-weight: bolder;
}



h2{
    font-weight: 900;
}

#plan img{
    width: 50px;
}

#plan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;

}

#plan2{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#BTN{
    width: 100%;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    width: 100%;
    height: 50px;
    background-color: var(--Blu3e);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    transition: 0.25s;
    cursor: pointer;
}

a{
    font-weight: 700;
}

button:hover{
    opacity: 0.7;
}

