*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
:root{
    --Blue1: hsl(225, 100%, 94%);
    --Blue: hsl(245, 75%, 52%);
    --Blue: hsl(225, 100%, 98%);
    --Gray: hsl(224, 23%, 55%);
    --Blue2: hsl(223, 47%, 23%);

}

body{
   background-image: url(./images/pattern-background-desktop.svg);
}

#container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    width: 450px;
    height: 700px;
    background-color: var(--Blue1);
    border-radius: 25px;
    display: flex;
}


img{
    width: 20%;
    width: 100%;
    border-radius: 25px;
}


#inner{
    text-align: center;
    
}



#text button {
    text-align: center;
    background-color:var(--Blue2);
    border-radius: 12px;
    width: 300px;
    height: 30px;
    color:var(--Blue);
    
}


#text{
    padding: 15px;
}

