#parent {
    background-color: white;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#parent div{
    border: 5px blue solid;
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 20px;
}

