*{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
}

div{
    width: 400px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: 5px solid red;

}


div input{
    width: 90%;
    height: 20px;
    margin-bottom: 20px;
}

div form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
}

div h1{
    text-align: center;
}

div button{
    width: 80px;
    height: 20px;
    background-color: green;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    margin: auto;
}